<!DOCTYPE html>
<html lang="en">

<head>
  <title>Trails Database Project</title>
  <meta charset="utf-8">
  <!-- Using bootstrap for easier, standard styling and div placement -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
</head>

<!-- Navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/trail">Trails</a></li>
      <li><a href="/contact">Contacts</a></li>
      <li><a href="/user">Users</a></li>
      <li><a href="/review">Reviews</a></li>
      <li><a href="/location">Locations</a></li>
    </ul>
  </div>
</nav> <!-- End navbar -->



<!-- Form -->
<div class="container">
  <h3 class="text-center text-primary" style="font-size:200%; color:#DC143C;">Update {{trail.trailName}}</h3>
  <form id="update-trail" action="/trail" method="post">
    <div class="form-group">
      <label for="trailName">Trail Name</label>
      <input type="text" name="trailName" class="form-control" id="trailName" value="{{trail.trailName}}">
    <div class="form-group">
      <label for="distance">Distance</label>
      <input type="number" name="distance" class="form-control" id="distance" value="{{trail.distance}}">
    </div>
    <div class="form-group">
      <label for="difficultySelect">Difficulty</label>
      <select class="form-control" name="difficulty" id="difficultySelect" value="{{trail.difficulty}}">
        <option>Easy</option>
        <option>Moderate</option>
        <option>Moderately Difficult</option>
        <option>Difficult</option>
        <option>Very Difficult</option>
      </select>
    </div>
    <div class="form-group">
      <label for="elevationGain">Elevation Gain</label>
      <input type="number" name="elevationGain" class="form-control" id="elevationGain" value="{{trail.elevationGain}}">
    </div>
    <div class="form-group">
      <label for="dogFriendly">Dog Friendly</label>
      <select class="form-control" name="dogFriendly" id="dogFriendly" value="{{trail.dogFriendly}}">
        <option>YES</option>
        <option>NO</option>
        <option>UNKNOWN</option>
      </select>
    </div>
    <div class="form-group">
      <label for="season">Season</label>
      <select class="form-control" name="season" id="season" value="{{trail.season}}">
        <option>winter</option>
        <option>spring</option>
        <option>summer</option>
        <option>fall</option>
        <option>year round</option>
      </select>
    </div>
    <button class="btn btn-primary" onclick="updateTrail({{trail.id}})">
      Update
    </button>
  </form>

</div>
<!-- End form -->
