<!DOCTYPE html>
<html lang="en">
<head>
  <title>Trails Database Project</title>
  <meta charset="utf-8">
  <!-- Using bootstrap for easier, standard styling and div placement -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
</head>

<!-- Navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/trail">Trails</a></li>
      <li><a href="/contact">Contacts</a></li>
      <li><a href="/user">Users</a></li>
      <li><a href="/review">Reviews</a></li>
      <li><a href="/location">Locations</a></li>
    </ul>
  </div>
</nav> <!-- End navbar -->

<body>

  <!-- Main container -->
  <div class="container">
    <div class="row">
      <h3 class="text-center text-primary" style="font-size:200%; color:#DC143C;">User Info</h3>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr class="active">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody>
            <!-- Begin getting each user from db -->
            {{#each user}}

            <tr>
              <th scope="row">{{id}}</th>
              <td>{{userName}}</td>
              <td>{{email}}</td>
              <td>{{password}}</td>
              <td>{{country}}</td>
              <td><button type="button" class="btn btn-info" onclick="deleteUser({{id}})">Delete</button></td>
              <td><button type="button" class="btn btn-light"><a href="/user/{{id}}">Update</a></button></td>
            </tr>

            {{/each}} <!-- End getting users -->

        </tbody>
      </table> <!-- End table -->
    </div> <!-- End data section -->

  </div> <!-- End main container -->

  <!-- Form -->
  <div class="container">
    <h3 class="text-center text-primary" style="font-size:200%; color:#DC143C;">Add New User</h3>
    <form id="addUser" action="/user" method="post">
      <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" name="userName" class="form-control" id="userName" placeholder="Enter User Name">
      </div>
      <div class="form-group">
        <label for="userName">Email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="country" name="country" class="form-control" id="country" placeholder="Country">
      </div>
      <button class="btn btn-primary">
        <input type="submit" value="Submit">
      </button>
    </form>

  </div>
  <!-- End form -->

</body>

</html>
